* {
    border: none;
    font-family: "MononokiNerdFontPropo";
    color: #ffffff;
    border-radius: 40px;
    font-size: 20px;
}
window#waybar {
    background: rgba(32, 16, 92, 0.336);
    margin-left: 2;
    margin-right: 2;
}
.modules-right {
	background-color: rgba(0, 194, 171, 0.0);
}
.modules-center {
	background-color: rgba(0, 194, 171, 0.0);
}
.modules-left {
	background-color: rgba(0, 194, 171, 0); 
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}
#taskbar button {
	padding: 5px;
}
