* {
    border: none;
    font-family: Aquire;
    font-size: 18px;
    color: #ffffff;
    border-radius: 20px;
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}
.modules-right {
	background-color: rgba(0, 119, 179, 0.663);
    margin: 2px 10px 0 0;
}
.modules-center {
	background-color: rgba(0,119,179,0.663);
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 5px;
	background-color: rgba(0, 119, 179, 0.633);
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}
#taskbar button {
	padding: 5px;
}