* {
    border: none;
    font-family: "Aquire";
    color: #ffffff;
    border-radius: 40px;
    font-size: 20px;
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}
.modules-right {
	background-color: rgba(255, 196, 0, 0.755);
    margin: 2px 10px 0 0;
}
.modules-center {
	background-color: rgba(0, 194, 171, 0.712);
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 5px;
	background-color: rgba(81, 0, 179, 0.847);
}


#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
    padding: 0 10px;
}
#taskbar button {
	padding: 5px;
}